@import '@/assets/styles/uview.theme.scss';

/* 行为相关颜色 */
$uni-color-primary: #FF1C3D;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */
$uni-text-color:#333;
$uni-text-color-inverse:#fff;
$uni-text-color-grey:#666;
$uni-text-color-placeholder: #999;
$uni-text-color-disable:#c0c0c0;

/* 背景颜色 */
$uni-bg-color:#f7f7f7;
$uni-bg-color-grey:#f7f7f7;
$uni-bg-color-hover:#f1f1f1;//点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

/* 边框颜色 */
$uni-border-color:#c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm:24rpx;
$uni-font-size-base:28rpx;
$uni-font-size-lg:32rpx;

/* 图片尺寸 */
$uni-img-size-sm:40rpx;
$uni-img-size-base:52rpx;
$uni-img-size-lg:80rpx;

/* Border Radius */
$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: 10px;
$uni-spacing-row-base: 20rpx;
$uni-spacing-row-lg: 30rpx;

/* 垂直间距 */
$uni-spacing-col-sm: 8rpx;
$uni-spacing-col-base: 16rpx;
$uni-spacing-col-lg: 24rpx;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #333; // 文章标题颜色
$uni-font-size-title:40rpx;
$uni-color-subtitle: #666; // 二级标题颜色
$uni-font-size-subtitle:36rpx;
$uni-color-paragraph: #999; // 文章段落颜色
$uni-font-size-paragraph:30rpx;

$black: #000;
$white: #fff;
$primary-color: #FF1C3D;
$primary-color-light: #FFF2F4;
$primary-gradient: linear-gradient(90deg, #FF5042, #FF1C3D);
$disabled-color: #999;
$gray: #BEBEBE;
$background-color-base: #f7f7f7;
$border-color-base: #e4e4e4;
$text-color-base: #333;
$text-color-secondary: #666;
$text-color-placeholder: #999;
